@model IEnumerable<EnrollementApplication.Models.Course>
<div id="searchresultscourse">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Title</li>
        }
    </ul>
</div> 