@model EnrollementApplication.Models.Student

<h2>Student of the Month</h2>
<div>
    <div class="panel-heading">
        Here is the student of the month
    </div>
    <div class="panel-body">
        <p>@Model.FirstName @Model.LastName</p>
    </div>
</div>